:root{
    --backgroundColor: #94b067; 

    --bgHover: #389435;
    --bgSelected: #609435;
    --borderColor: #4d792a;
    --backgroundImage: url("../assets/Dirt_Texture.jpeg");
    --stoneImage1: url('../assets/Stone1.png');
    --stoneImage2: url('../assets/Stone2.png');
}

body{
    background:         
        linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
        ), 
        var(--backgroundImage);
    
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
}


.title{
    align-self: center;
    text-align: center;
    font-size: 50px;
}
.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.stone{
    max-height: 8%;
    max-width: 8%;
}
.button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    border: 3px solid var(--borderColor);
    max-width: 30%;
    font-size: larger;
    text-align: center;
    align-self: center;
    background-color: var(--backgroundColor);
}

.button:hover{
    background-color: var(--bgHover);
}
.playerNameMenu{
    display:flex;
    flex-direction: row;
}
.playerNameBox{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
    align-self: center;
}
.playerNameLabel{
    flex: 1;
}
.playerNameEntry{
    flex: 2;
    background: rgb(44, 44, 44);
    color: inherit;
    border: rgb(68, 68, 68) solid;
    padding: 0;
    font: inherit;
    cursor: pointer;
}
.diffItem{
    display: flex;
    flex-direction: row;
    padding-left: 8%;
}
.difficulty{
    align-self: center;
    text-align: center;
}
.difficulty input[type="radio"]{
    display: none;
}
.difficulty label{
    width: 500px;
    display: inline-block;
    background-color: var(--backgroundColor);
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
}
.difficulty input[type="radio"]:checked+label {
    background-color: var(--bgSelected);
}