:root{
    --backgroundColor: #85ce4a; 
    --bgHover: #609435;
    --borderColor: #4d792a;
    --stoneImage1: url('../assets/Stone1.png');
    --stoneImage2: url('../assets/Stone2.png');
}
.title{
    align-self: center;
    text-align: center;
    font-size: 50px;
}
.menu{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.menuItem{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
.stone{
    max-height: 20%;
    max-width: 20%;
}
.button{
    flex-grow: 1;
    padding: 5% 10% 5% 10%;
    border: 3px solid var(--borderColor);
    font-size: larger;
    text-align: center;
    background-color: var(--backgroundColor);
}

.button:hover{
    background-color: var(--bgHover);
}